day1/day1_part1/target/
day1/day1_part2/target/
day2/day2_part1/target/
day2/day2_part2/target/
day3/day3_part1/target/
day3/day3_part2/target/
day4/day4_part1/target/
day4/day4_part2/target/
day5/day5_part1/target/
day5/day5_part2/target/
day6/day6_part1/target/
day6/day6_part2/target/
day7/day7_part1/target/
day7/day7_part2/target/
day8/day8_part1/target/
day8/day8_part2/target/
day9/day9_part1/target/
day9/day9_part2/target/
day10/day10_part1/target/
day10/day10_part2/target/
day11/day11_part1/target/
day11/day11_part2/target/
day12/day12_part1/target/
day12/day12_part2/target/
day13/day13_part1/target/
day13/day13_part2/target/
day14/day14_part1/target/
day14/day14_part2/target/
day15/day15_part1/target/
day15/day15_part2/target/
day16/day16_part1/target/
day16/day16_part2/target/
day17/day17_part1/target/
day17/day17_part2/target/
day18/day18_part1/target/
day18/day18_part2/target/
day19/day19_part1/target/
day19/day19_part2/target/
day20/day20_part1/target/
day20/day20_part2/target/
day21/day21_part1/target/
day21/day21_part2/target/
day22/day22_part1/target/
day22/day22_part2/target/
day23/day23_part1/target/
day23/day23_part2/target/
day24/day24_part1/target/
day24/day24_part2/target/
day25/day25_part1/target/
day25/day25_part2/target/
